# General
.DS_Store
.env
.env.local
node_modules/
*.log

# Sanity
sanity/.sanity/
sanity/dist/
sanity/package-lock.json

# React Router / Frontend
malpecurtidos/.react-router/
malpecurtidos/build/
malpecurtidos/package-lock.json
